<!DOCTYPE html>
<html>
<head lang="zh">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" /> 
    <meta content="yes" name="apple-mobile-web-app-capable"/>
    <meta content="yes" name="apple-touch-fullscreen"/>
    <meta content="telephone=no" name="format-detection"/>
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="#ffffff" name="msapplication-TileColor" />
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <title>靠谱APP</title>
    <link href="../../../css/bootstrap-3.3.5/css/bootstrap.css" rel="stylesheet">
    <link href="../../../css/ms/prizeOrder/prizeOrder.css" rel="stylesheet">

</head> 
<body>
<div>
	#parse("/htmlPage/common/header.vm")
	<div id="indexBodytop" class="indexBodytopDivStyle">
		<!--flash
		<object id="flash_obj" width="300" height="250" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=7,0,0,0" classid="clsid:D27CDB6E-AE6D-11cf-96B8-444553540000" type="application/x-shockwave-flash">
			<param value="http://ubmcmm.baidustatic.com/media/v1/0f000DH-9QBJy6hnLq-Jj0.swf" name="movie">
			<param value="high" name="quality">
			<param value="always" name="AllowScriptAccess">
			<param value="opaque" name="wmode">
			<param value="" name="FlashVars">
			<embed width="300" height="250" align="middle" pluginspage="http://www.macromedia.com/go/getflashplayer" type="application/x-shockwave-flash" allowscriptaccess="always" quality="high" src="http://ubmcmm.baidustatic.com/media/v1/0f000DH-9QBJy6hnLq-Jj0.swf" wmode="opaque">
		</object>-->
		<!--img-->
		<img width="1210" height="80" src="//img10.360buyimg.com/da/jfs/t1963/54/1101337437/88594/b0525f82/5667c50dNec0f2b0a.jpg">
	</div>
	<div id="indexBodyContent" class="indexBodyContentDivStyle">
		<table class="contentTableStyle">
			#if($failMsg)
				<tr>
					<td>
						<div class="errorMsgDiv">
							$!{failMsg}
						</div>

					</td>
				</tr>
			#else
				<tr>
					<td>
						<div class="addressDiv">
							<table class="addressTable">
								<tr><td><label class="addressTitleStyle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;填写收货人信息</label></td></tr>
								<tr>
									<td>
										<label class="addressTextNameStyle">收货人：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" id="addressName" class="addressInputTextStyle" placeholder="收货人姓名" size="20">
									</td>
								</tr>
								<tr>
									<td>
										<label class="addressTextNameStyle">收货人手机号：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" id="addressPhone" class="addressInputTextStyle" placeholder="收货人手机号码"  size="30">
									</td>
								</tr>
								<tr>
									<td>
										<label class="addressTextNameStyle">收货人详细地址：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label><input type="text" id="addressAddress" class="addressInputTextStyle" placeholder="收货人详细地址"  size="100">
									</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="skuInfoDiv">
							<table class="skuInfoTableStyle">
								<tr><label class="skuInfoTitleStyle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;商品信息信息</label></tr>
								<tr class="skuTableTitleNameStyle"><td>商品编号</td><td>商品图片</td><td>商品名称</td><td>商品数量</td><td>中奖等级</td><td>商品价格</td></tr>
								<tr>
									<td>
										<label class="skuTextIdStyle">$!{prizeOrderVO.skuId}<input type="hidden" id="skuId" value="$!{prizeOrderVO.skuId}"/></label>
									</td>
									<td>
										<img width="100" height="100" alt="CNCN 百分百羊毛新款男装羊毛衫男士套头V领毛衫NYYY4670 橙色 175" src="//img10.360buyimg.com/n1/jfs/t1897/272/588771888/158370/4498b10/561874e6N4f3d195c.jpg">
									</td>
									<td>
										<label class="skuTextNameStyle">$!{prizeOrderVO.skuName}</label>
									</td>
									<td>
										<label class="skuTextNumStyle"> &times;$!{prizeOrderVO.skuNum}</label><input type="hidden" id="promotionId" value="$!{prizeOrderVO.promotionId}"/>
									</td>
									<td>
										<label class="skuTextNumStyle">
											#set($level = ${prizeOrderVO.prizeType})
											#if($level==101)
												 一等奖
											#elseif($level==102)
												二等奖
											#elseif($level==103)
												三等奖
											#else
												未知
											#end
												
										</label>
									</td>
									<td>
										<label class="skuTextNumStyle">$!{prizeOrderVO.promotionPrice}</label>
									</td>
								</tr>
							</table>
						</div>
					</td>
				</tr>
				<tr>
					<td>
						<div class="priceInfoDiv">
							<table class="priceInfoTableStyle">
								<tr><td><tr><label class="priceInfoTitleStyle">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;支付信息<input type="hidden" id="orderPrice" value="$!{prizeOrderVO.promotionPrice}"/></label></tr></td></tr>
								<tr>
									<td>
										<label class="priceTextStyle">订单价格：￥$!{prizeOrderVO.promotionPrice}</label>
									</td>
								</tr>
								<tr>
									<td>
										<label class="priceTextStyle">运费：￥$!{prizeOrderVO.frightPrice}</label>
									</td>
								</tr>
								<tr><td><input type="button" class="buttonStyle" onclick="submitOrder();" value="提交订单"></td></tr>
							</table>
						</div>
					</td>
				</tr>
			
			#end
		</table>
	</div>
	
   	<div id="indexBodyBootom" class="prizeOrderBodyBootomDivStyle">
    	#parse("/htmlPage/common/bottom.html")
    </div>
</div>

  	<script src="../../../js/jquery-1.11.3/jquery-1.11.3.min.js?r=20150707"></script>
	<script src="../../../js/bootstrap-3.3.5/bootstrap.js?r=20150707"></script>
	<script src="../../../js/common/utils.js?r=20150707"></script>
	<script src="../../../js/ms/prizeOrder/prizeOrder.js?r=20150707"></script>

</body>
</html>