/*头部flash*/
.orderSuccessBodytopDivStyle{
	display: block;
	 position: absolute;
	 top: 10%;
	 left: 0%;
	 width: 100%;
	 padding: 1px 1px;
	 border: 1px solid #000000;
	 background-color: white;
	 z-index:1002;
	 overflow: auto;
	 text-align:center;
     margin-bottom: 20px;
}

/*内容样式*/
.orderSuccessBodyContentDivStyle{
	display: block;
	position: absolute;
	top: 21%;
	width: 82%;
	left: 15%;
}

.titleDivStyle{
	
}

.contentDivStyle{
	
}

/*底部定位*/
.orderSuccessBodyBootomDivStyle{
	display: block;
}